<nav class="navbar navbar-expand-lg text-primary-emphasis bg-body-tertiary border-primary-subtle" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="../">Pin Board</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <!-- <a class="nav-link active" href="../">Home</a> -->
          <a class="nav-link active" href="../pins/create">Create Pin</a>
          <a class="nav-link active" href="../about">About</a>
        </div>
      </div>
    </div>
  </nav>

14B020CF-2998-4E74-AFD0-110E6C3255DB
pub_47699a86a845928c44a6f08d2d8dccac34b0d