<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/header.ejs") %>
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
    <div class="base">

    <h1>Error 404!!!</h1>
    <h3>OOPS, page not found :(</h3>
    </div>

    <%- include("./partials/footer.ejs") %>
</body>
</html>