<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/header.ejs") %>
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
    
    <div class="base">
    
    <div class="about content">
        <h2>About Us</h2>
        <p>This is a personal project created by <a href="https://sampreetklair.com">Sampreet Klair</a>.</p>
        <p>For more info or codebase of this website, you can visit <a href="https://github.com/sampreetklair/PinBoard">GitHub</a>.</p>
      </div>

    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>